body{
    background: #dadada;
    font-family: 'Nunito', Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.pagina-login{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 700px;
    box-shadow: 0 4px 20px;
    border-radius: 10px;
    overflow: hidden;
}

#logo-login{
    background: #818181;
    color: #ffffff;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#logo-login .logo{
    width: 150px;
    margin-bottom: 30px;
}

#logo-login h1{
    font-size: 28px;
}

#logo-login .diniz{
    font-size: 85px;
    color: #ffa726;
}

.conteiner-login{
    background: #ffffff;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-login{
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    color: #fb8c00;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

h3{
    color: #ffa726;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.login{
    background: #ffa726;
    border-radius: 8px;
    padding: 12px 15px;
}

.login label{
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

.login input{
    width: 100%;
    border: 0;
    background: 0;
    outline: 0; /*remove a borda do input*/
    color: #818181;
    font-size: large;
    font-weight: bold;
}

.esqueceu-senha{
    color: #fb8c00;
    text-decoration: none;
    font-size: large;
    text-align: center;
}

.botao-login{
    background: #ffa726;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-login:hover{
    background: #fb8c00;
}

.login-colaborador{
    margin-top: 15px;
    text-align: center;
    color: #fb8c00;
    font-size: large;
    font-weight: bold;
}

.fazer-cadastro{
    margin-top: 15px;
    text-align: center;
    color: #fb8c00;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 900px) {
    body {
        height: auto;
        padding: 0;
    }

    .pagina-login {
        flex-direction: column; /*deixa os itens em ordem vertical*/
        height: 100vh;
        max-height: none;
        border-radius: 0;
    }

    #logo-login {
        display: none;
    }

    .conteiner-login {
        flex-basis: 100%;
        padding: 40px 20px;
    }

    .form-login{
        border: 2px solid #8181813c;
        border-radius: 15px;
        padding: 100px 20px;
        background: #ffffff;
        box-shadow:  0px 13px 12px 2px #36363628;
    }
}
