body{
    background: #fff3e0;
    font-family: 'Nunito', Arial, sans-serif;
}

#logo-cadastro{
    display: flex;
    gap: 20%;
}

#cadastro-esquerda{
    background: #818181;
    width: 50%;
    height: auto;
}

#cadastro-direita{
    background: #ffffff;
    width: 50%;
    height: auto;
}

#cadastro-direita h1{
    color: #fb8c00;
    text-align: center;
}

.logo-cadastro{
    text-align: center;
    height: 100vh;
}

#nome1{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

#nome2{
    color: #ffa726;
    font-size: 100px;
    text-align: center;
}

.email-cadastro, .senha-cadastro{
    background: #ffa726;
    color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

input{
    border: 0;
    background: #ffa726;
}

.botao-cadastro, button{
    
    background: #fb8c00;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
    margin: 10px;
}

fieldset{
    margin: 0;
    border: #ffffff;
}
